:root{

    --fundo-grafico: #FFDF0D;
    --borda: #E6C90C;
    --titulo-cor: #C7AD0A;
    --fundo-sticky: #122B19;
    --fundo: #252222;
    --stiky: #EF6100;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.square{
    display: block;
    border: 2px solid var(--borda);
    border-radius: 5px;
}

body{
    background-color: var(--fundo);
}

#missoes{
    background-color: var(--fundo-grafico);
    margin: 150px;
    padding: 5px;
}

#numero-missoes{
    margin: 20px;
    font-size: 35px;
}

.info{
    display: flex;
    background-color: var(--fundo-grafico);
    margin: 150px;
    padding: 5px;
}

.barra-sticky{
    position: sticky;
    top: 0px;
    background-color: #1D1910;
    color: var(--stiky);
    text-align: left;
    font-weight: bold;
    font-size: 35px;
    margin: -5px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding: 12px;
}

.sticky{
    display: flex;
    text-align: center;
}

#titulo{
    font-size: 45px;
    color: var(--titulo-cor);
}

.filtro-area{
    display: flex;
    justify-content: center;
    margin-top: 30px;
}


#filtro{
    width: 400px;
    padding: 12px;
    border-radius: 10px;
    border: 2px solid var(--borda);
    font-size: 18px;
    outline: none;
}

#filtro:hover{
       animation: pulse-animation 1.2s forwards;
}

@keyframes pulse-animation{
    0% { scale: 1;}
    100% { scale: 1.2;}
}

#lista-registros{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

.registro{
    background-color: #ffe75a;
    padding: 20px;
    border-radius: 10px;
    width: 250px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    border: 2px solid var(--borda);
}

